/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

li {
    color: #15112e;
}

header {
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #efba54;
    color: black;
}

footer {
    width: 100%;
    height: 100px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #bc3b59;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: purple;
    color: white;
}

.container * {
    margin: auto;
}

#burger-name {
    margin-bottom: 20px;
}

#coupon {
    margin: 20px 0;
}


/* header */

/* main */

.box-title h2 {
    color: darkgrey;
    font-weight: 300;
    padding: 20px 0;

}

.box-subtitle {
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 20px;
    color: #15112e;

}